body{
    background-color: rgb(167, 240, 245);
}

h2{
    color: blue;
}

p{
    color: red;
    
}

h1{
    color: darkgoldenrod;
    text-align: center;
    font-size: 60px;
    border: 4px dashed rgb(4, 12, 4);
    
}
